<!DOCTYPE html>
<html>
	<head>
		<title>NPS Kiosk: Find by Designation</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<style>
			input[type=text] {
				width: 300px;
			}
		</style>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>

	<body>
    <div id="top" />

		<% include partials/nav.ejs %>

    <div class="container">
      <div class="row">
        <div class="col py-3 my-3">
          <h2 class="display-4">Find a park by designation:</h2>

					<!-- Dropdown search functional -->
					<div class="input-group">
						<form id="selectDesig" method="POST" action="/find-by-designation">
							<input type="text" name="designation" list="desigNames">
								<datalist id="desigNames">
									<option value="Cultural Heritage Corridor" />
									<option value="Heritage Area" />
									<option value="National and State Parks" />
									<option value="National Battlefield" />
									<option value="National Geologic Trail" />
									<option value="National Heritage Area" />
									<option value="National Heritage Corridor" />
									<option value="National Historic Site" />
									<option value="National Historic Trail" />
									<option value="National Historical Park" />
									<option value="National Historical Park and Ecological Preserve" />
									<option value="National Memorial" />
									<option value="National Military Park" />
									<option value="National Monument" />
									<option value="National Park" />
									<option value="National Park & Preserve" />
									<option value="National Preserve" />
									<option value="National Recreation Area" />
									<option value="National Scenic River" />
									<option value="National Scenic Riverway" />
									<option value="National Scenic Riverways" />
									<option value="National Seashore" />
									<option value="Parkway" />
									<option value="Part of Colonial National Historical Park" />
									<option value="Scenic & Recreational River" />
									<option value="Wild & Scenic River" />
									<option value="Other" />
								</datalist>
							</input>
							<button class="btn btn-outline-secondary" type="submit">Search</button>
						</form>
					</div>
        </div>
      </div>
		</div>

		<!-- JQuery, Tether, Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script>
			S(function () {
				S('[data-toggle="tooltip"]').tooltip();
			});
		</script>
	</body>
</html>
